<link rel="stylesheet" href="{{ 'section-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-slider.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>

<div class="sliderContainer">
    <div class="slickSlider">
        <div class="slide-img">
            {%- if section.settings.slideOne != blank -%}
                <img src="{{ section.settings.slideOne | img_url: '1024x' }}" alt="">
            {%- else -%}
                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }} 
            {%- endif -%}
        </div>
        <div class="slide-img">
            {%- if section.settings.slideTwo != blank -%}
                <img src="{{ section.settings.slideTwo | img_url: '1024p' }}" alt="">
            {%- else -%}
                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }} 
            {%- endif -%}
        </div>
        <div class="slide-img">
            {%- if section.settings.slideThree != blank -%}
                <img src="{{ section.settings.slideThree | img_url: '1024x' }}" alt="">
            {%- else -%}
                {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }} 
            {%- endif -%}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Slider",
    "settings": [
        {
            "type": "image_picker",
            "id": "slideOne",
            "label": "Slide 1"
        },
        {
            "type": "image_picker",
            "id": "slideTwo",
            "label": "Slide 2"
        },
        {
            "type": "image_picker",
            "id": "slideThree",
            "label": "Slide 3"
        }                
    ],
    "presets": [
        {
            "name": "Slider"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
    document.querySelector('.slickSlider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 3000,
        arrows: false,
    });
{% endjavascript %}