{{ 'section-two-up.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'section-two-up.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="page-width">
    <div class="two-up-heading">
        <h2 class="two-up-title">{{ section.settings.heading }}</h2>
    </div>
    <div class="two-up grid">
        <div class="grid__item">
            <a href="{{ sections.settings.twoup_product_one_url }}">
                {%- if section.settings.twoup_image_one != blank -%}
                    <img src="{{ sections.settings.twoup_image_one | img_url: '600x' }}" alt="">
                {%- else -%}
                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }} 
                {%- endif -%}
            </a>
        </div>
        <div class="grid__item">
            <a href="{{ sections.settings.twoup_product_two_url }}">
                {%- if section.settings.twoup_image_two != blank -%}
                    <img src="{{ sections.settings.twoup_image_two | img_url: '600x' }}" alt="">
                {%- else -%}
                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
            </a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Two Up",
    "tag": "section",
    "class": "twoup-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Section Heading",
            "label": "Section Heading"
        },
        {
            "type": "image_picker",
            "id": "twoup_image_one",
            "label": "Two Up Image One"
        },
        {
            "type": "product",
            "id": "twoup_product_one_url",
            "label": "Product One"
        },
        {
            "type": "product",
            "id": "twoup_product_one",
            "label": "Two Up Product One"
        },
        {
            "type": "image_picker",
            "id": "twoup_image_two",
            "label": "Two Up Image Two"
        },
        {
            "type": "product",
            "id": "twoup_product_two",
            "label": "Two Up Product Two"
        },
        {
            "type": "product",
            "id": "twoup_product_two",
            "label": "Two Up Product Two"
        }
    ],
    "presets": [
        {
            "name": "Two Up"
        }
    ]
}
{% endschema %}