{{ 'section-two-up.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'section-two-up.css' | asset_url }}" media="print" onload="this.media='all'">

<section class="page-width">
    <div class="two-up-heading">
        <h2 class="two-up-title">{{ section.settings.heading }}</h2>
    </div>
    <div class="two-up grid">
        <div class="grid__item">
            <a href="{{ section.settings.productOne | prepend: '/products/'  }}">
                {%- if section.settings.imageOne != blank -%}
                    <img src="{{ section.settings.imageOne | img_url: '512x' }}" alt="">
                {%- else -%}
                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }} 
                {%- endif -%}
            </a>
        </div>
        <div class="grid__item">
            <a href="{{ section.settings.productTwo | prepend: '/products/' }}">
                {%- if section.settings.imageTwo != blank -%}
                    <img src="{{ section.settings.imageTwo | img_url: '512x' }}" alt="">
                {%- else -%}
                    {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
            </a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Two Up",
    "tag": "section",
    "class": "twoup-section",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "default": "Section Heading",
            "label": "Section Heading"
        },
        {
            "type": "image_picker",
            "id": "imageOne",
            "label": "Two Up Image One"
        },
        {
            "type": "product",
            "id": "productOne",
            "label": "Two Up Product One"
        },
        {
            "type": "image_picker",
            "id": "imageTwo",
            "label": "Two Up Image Two"
        },
        {
            "type": "product",
            "id": "productTwo",
            "label": "Two Up Product Two"
        }
    ],
    "presets": [
        {
            "name": "Two Up"
        }
    ]
}
{% endschema %}